.scroll-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}

.scroll-content {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.table-container {
  max-height: 430px; /* Restrict table height */
  overflow-y: auto; /* Add scroll for overflow */
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #e6f2ff;
}

th,
td {
  padding: 4px 12px;
  border: 1px solid #ccc;
  text-align: left;
}

tbody tr:hover {
  background-color: #f9f9f9;
}

.assign-button {
  font-size: 12px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.assign-button:hover {
  background-color: #0056b3;
}

